<div class="photo-card">
    <img src={{largeImageURL}} alt="" />

    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            {{likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            {{downloads}}
        </p>
    </div>
</div>
{{!-- function templateItemGallery(gallery) {
return gallery.map(({ preview, original, description }) => {
return `
<li class="gallery__item">
    <a class="gallery__link" href=${original}>
        <img class="gallery__image" src=${preview} data-source=${original} alt=${description} />
    </a>
</li>`
}).join(' ');
}; --}}